.container-header {
  background-color: #282828;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px 20px 20px 20px;
  width: 100%;
  position: relative;
  border-radius: 50px;
}


@media (max-width: 768px) {
  .card {
    width: 80%;
    margin-top: 15%;
    padding: 2rem;
  }
}

@media (max-width: 480px) {
  .container-header {
    width: 80%;
  }
}




.text-link {
  color: #fff;
  font-weight: normal;
  item: center;
  text-decoration: none;
  margin-top: 10px;
}

.text-link:hover {
  color: #777777;
}

.text-button {
    border-radius: 10px;
    background-color: #554F95;
    padding: 10px 10px 10px 10px;
    color: #fff;
    font-weight: semi-bold;
    text-decoration: none;
    margin-top: 10px;
}
