.input-fieldCreate {
    position: relative;
}

.input-fieldCreate input {
    width: 100%;
    height: 60px;
    border-radius: 6px;
    font-size: 18px;
    border: 2px solid #554F95;
    background: transparent;
    color: #fff;
    outline: none;
    transition: .3s;
    color-scheme: dark;
    padding: 0px 10px 0px 10px;
}

.input-fieldCreate label {
    position: absolute;
    transform: translateY(-50%);
    color: #554F95;
    pointer-events: none;
    top: 0;
    left: 15px;
    font-size: 16px;
    padding: 0 2px;
    background: #000
}


.container-form {
    width: '100px';
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.form-create {
    gap: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 30px;
}

@media (min-width: 768px) {
    .form-create {
        width: 40%;
    }
  }
  
  @media (min-width: 1024px) {
    .form-create {
        width: 40%;
    }
  }
  
  @media (min-width: 1280px) {
    .form-create {
        width: 40%;
    }
  }